.cardLink {
    margin: auto;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000,
      0 0 transparent;
  
    border-color: azure;
    border-radius: 0.75rem /* 12px */;
}

.container {
    border-radius: 0.75rem ;
    padding-top: 0.25rem ;
    padding-bottom: 0.25rem ;
    padding-bottom: 1.25rem ;
    padding-left: 1rem ;
    padding-right: 1rem ;

    width: 20rem;
    min-width: 20rem;
    height: 15rem;
    min-height: 15rem;
  
    backdrop-filter: blur(10px);
}

.cardHeader {
    font-size: 1rem ;
    line-height: 1.75rem ;
    width: 16rem ;
}

.cardHeaderWrapper {
    margin-top: 0.75rem ;
    margin-bottom: 0.75rem ;
}

.cardImage {
    color: azure ;
}

.cardImageWrapper {
    text-align: center;
    margin: 0.5rem;
    border-radius: 0.75rem;
}


.cardWrapper {
    display: block;

    margin: 1rem;
}

@media (max-width: 1024px) {
    .cardHeader {
      width: 14rem ;
      /* color: red; */
    }
}
  
@media (max-width: 768px) {
    .cardHeader {
      width: 12rem ;
      /* text-align: center; */
      /* color: blue; */
    }
}